#admin {
    display: inline;
}

#button1 {
    background-color:  #008CBA; 
    border: none;
    color: white;
    padding: 7px 15px;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
        }

    #button2 {
    background-color:  #f44336; 
    border: none;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 80%;
            margin-top:200px; 
            margin-bottom:200px;
        }
        
        td, th {
            border: 0px solid #dddddd;
            text-align: middle;
            padding-left: 10px;
            padding: 8px;
            height: 45px;
        }
        
        tr:nth-child(even) {
            background-color: #9c9494;
        }
    
        #button3 {
            background-color: #4CAF50; 
            border: none;
            color: white;
            padding: 7px 15px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
           

        }
        #vu{
            padding-left: 100px; 
            
        }

        .fix_nav{margin-top:10%;}
		.win_by_vipath{padding:3em 0em;text-align: center;margin:1.5em 1em;text-shadow:5px 5px 10px black;font-size:18px; background-color: grey;}
.wrapper{line-height:12;}
